<h1>hoi</h1>
{{#each hiddenLetterArray}}
<p>{{this}}</p>
{{/each}}
<form class="" action="/guess" method="post">


<input type="submit" name="a" value="a"/>
<input type="submit" name="b" value="b"/>
<input type="submit" name="c" value="c"/>
<input type="submit" name="d" value="d"/>
<input type="submit" name="e" value="e"/>
<input type="submit" name="f" value="f"/>
<input type="submit" name="g" value="g"/>
<input type="submit" name="h" value="h"/>
<input type="submit" name="i" value="i"/>
<input type="submit" name="j" value="j"/>
<input type="submit" name="k" value="k"/>
<input type="submit" name="l" value="l"/>
<input type="submit" name="m" value="m"/>
<input type="submit" name="n" value="n"/>
<input type="submit" name="o" value="o"/>
<input type="submit" name="p" value="p"/>
<input type="submit" name="q" value="q"/>
<input type="submit" name="r" value="r"/>
<input type="submit" name="s" value="s"/>
<input type="submit" name="t" value="t"/>
<input type="submit" name="u" value="u"/>
<input type="submit" name="v" value="v"/>
<input type="submit" name="w" value="w"/>
<input type="submit" name="x" value="x"/>
<input type="submit" name="y" value="y"/>
<input type="submit" name="z" value="z"/>

</form>
