<h1>hi</h1>

<h3>
{{#each hiddenLetterArray}}
{{this}}
{{/each}}
</h3>
<hr/>
<form class="" action="/guess" method="post">
<input type="submit" name="guessInput" value="a"/>
<input type="submit" name="guessInput" value="b"/>
<input type="submit" name="guessInput" value="c"/>
<input type="submit" name="guessInput" value="d"/>
<input type="submit" name="guessInput" value="e"/>
<input type="submit" name="guessInput" value="f"/>
<input type="submit" name="guessInput" value="g"/>
<input type="submit" name="guessInput" value="h"/>
<input type="submit" name="guessInput" value="i"/>
<input type="submit" name="guessInput" value="j"/>
<input type="submit" name="guessInput" value="k"/>
<input type="submit" name="guessInput" value="l"/>
<input type="submit" name="guessInput" value="m"/>
<input type="submit" name="guessInput" value="n"/>
<input type="submit" name="guessInput" value="o"/>
<input type="submit" name="guessInput" value="p"/>
<input type="submit" name="guessInput" value="q"/>
<input type="submit" name="guessInput" value="r"/>
<input type="submit" name="guessInput" value="s"/>
<input type="submit" name="guessInput" value="t"/>
<input type="submit" name="guessInput" value="u"/>
<input type="submit" name="guessInput" value="v"/>
<input type="submit" name="guessInput" value="w"/>
<input type="submit" name="guessInput" value="x"/>
<input type="submit" name="guessInput" value="y"/>
<input type="submit" name="guessInput" value="z"/>
</form>
<hr/>
<h3>Missed letters</h3>
<h4>
  {{#each incorrectGuesses}}
  {{this}}
  {{/each}}
</hh4>
